body, html {
    height: 100%;
    margin: 0;
    padding: 13px;
    color: green;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#terminal {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#console {
    white-space: pre-wrap;
    overflow-y: auto; /* Allows scrolling */
}

.input-line {
    display: flex;
    align-items: center;
}

#caret {
    /* Static caret styling */
}

#userInput {
    flex-grow: 1;
    outline: none;
    caret-color: green; /* To show the cursor when user is typing */
    margin-left: 11px; /* Optional: to provide a small space after the caret */
}
